/* Container */
$container: 1140px;
$container-wide: 1340px; 

/* Breakpoints */
$mobile: 375px;
$phablet: 500px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;
$xl-desktop: 1400px;
$xxl-desktop: 1600px;

/* Font - Familys */
$font-primary:  "Barlow", Arial, sans-serif;
$font-secondary:  "Fraunces", Arial, serif;

/* Font - Usages */ 
$font-heading: $font-secondary;
$font-body: $font-primary;

/* Colors - Primary */ 
$clr-soft-red: hsl(7, 99%, 70%);
$clr-yellow: hsl(51, 100%, 49%);
$clr-dark-desaturated-cyan: hsl(167, 40%, 24%);
$clr-dark-moderate-cyan: hsl(168, 34%, 41%);
$clr-dark-blue: hsl(198, 62%, 26%);

/* Colors - Neutral */ 
$clr-white: hsl(0, 0%, 100%);
$clr-default: hsl(0, 0%, 25.5%);
$clr-darker-desaturated-blue: hsl(212, 27%, 19%);
$clr-darker-grayish-blue: hsl(213, 9%, 39%);
$clr-dark-grayish-blue: hsl(232, 10%, 55%);
$clr-grayish-blue: hsl(210, 4%, 67%);

